/* General container styling */
.home-container {
  text-align: center;
  color: white;
  background: linear-gradient(135deg, #654321 /* Dark Brown */, #D2B48C /* Tan */, #A0522D /* Sienna */, #8B4513 /* Saddle Brown */);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Optional animation for a dynamic background */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Title styling with 3D shadow effect */
.home-title {
  font-family: 'Arial Black', sans-serif;
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7), 6px 6px 10px rgba(0, 0, 0, 0.4);
  color: #f1f1f1;
  transform: perspective(500px) rotateX(10deg);
}

/* Description styling */
.home-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 600px;
}

/* Chessboard container styling */
.chessboard-container {
  perspective: 10px;
  margin-bottom: 40px;
  width: 40vw; /* Responsive width */
  height: 40vh; /* Responsive height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Ensure no background color */
  box-shadow: none; /* Translucent shadow for the container */
}

/* Button styling */
.start-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #0056b3;
}
